<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.aac">

    <application
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="DataBinding"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".livedata.LiveDataActivity" />
        <activity android:name=".databinding.DataBindingActivity" />
        <activity android:name=".AACActivity" />
        <activity android:name=".viewmodel.ViewModelActivity" />
        <activity android:name=".lifecycle.LifecycleActivity" />
    </application>
</manifest>